body{
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;


font-family: "Poppins", sans-serif;
    line-height: 1.7;
    padding: 30px 15px;

}

h1{
    color: #333;
}
#searchFood{
    margin: 1rem;
    padding: .5rem;
    width:80%;
    
  
    margin-bottom: 40px;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    
}

#foodList{
    display: flex; 
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 1rem;
    
    
}

.food{
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.food img{
    max-width: 100%;
        height: 200px;


}